body {
  text-align:center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:grey;
}

table{
	margin:0 auto;
	border-collapse: collapse;
}

table thead{
	background-color: #4CAF50;
  	color: white;
  	font-weight:bold;
}

table tbody{
	background:white;
}
table tbody tr:nth-child(odd) {background-color: #f2f2f2;}

table td{
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
}
a {
  color: #00B7FF;
}
